/bin/
/target/
/.settings/
/.classpath
/.project
/mvjars
/pom.xml.releaseBackup
/release.properties

/similarity-database/target/
/similarity-database/.settings/
/similarity-database/.project
/similarity-database/release.properties
/similarity-database/.classpath
/similarity-database/pom.xml.releaseBackup

/similarity-database-client/target/
/similarity-database-client/.settings/
/similarity-database-client/.classpath
/similarity-database-client/.project
/similarity-database-client/pom.xml.releaseBackup

/similarity-database-driver/target/
/similarity-database-driver/.settings/
/similarity-database-driver/.classpath
/similarity-database-driver/.project
/similarity-database-driver/pom.xml.releaseBackup

/similarity-database-master/target/
/similarity-database-master/Network/
/similarity-database-master/.settings/
/similarity-database-master/.classpath
/similarity-database-master/.project
/similarity-database-master/derby.log
/similarity-database-master/pom.xml.releaseBackup

/similarity-database-node/target/
/similarity-database-node/.settings/
/similarity-database-node/Auth/
/similarity-database-node/Test/
/similarity-database-node/.classpath
/similarity-database-node/.project
/similarity-database-node/derby.log
/similarity-database-node/pom.xml.releaseBackup

/similarity-database-server/target/
/similarity-database-server/.settings/
/similarity-database-server/.classpath
/similarity-database-server/.project
/similarity-database-server/pom.xml.releaseBackup
